* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
}

::selection {
  background: rgba(202, 203, 78, 0.25);
}
::-moz-selection {
  background: rgba(202, 203, 78, 0.25);
}

a:hover {
  text-decoration: none !important;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px !important;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  cursor: default;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.ace_content {
  overflow: hidden;
}

.bold {
  font-weight: bold;
}

.green {
  color: rgb(202, 203, 78);
}

.red {
  color: #E01A4F;
}

.hoverGreen {
  transition: 0.3s;
}

.hoverGreen:hover {
  color: rgb(202, 203, 78);
}


.margin {
  margin: 20px;
}

.padding {
  padding: 20px;
}

.fixed {
  position: fixed;
}

.windowSize {
  width: 100vw;
  height: 100vh;
}


.footer {
  width: 100%;
  height: 60px;
  background-color: #202020;
}

.mainContainer.container-fluid {
  margin: 0px;
  padding: 0px;
  background-color: #202020;
}

.nav {
  position: fixed;
  width: 100vw;
  height: 60px;
  background-color: #202020;
}

.maxSize {
  width: 100vw;
  min-height: 100vh;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row.center {
  align-items: center;
}

.flex-row.centercenter {
  align-items: center;
  justify-content: center;
}

.flex-row.end {
  justify-content: flex-end;
}

.flex-row.space-between {
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column.end {
  align-items: flex-end;
}

.flex-column.center {
  align-items: center;
}

.flex-column.centercenter {
  align-items: center;
  justify-content: center;
}

.flex-column.space-between {
  justify-content: space-between;
}


.homeIcon {
  transition: 0.2s;
}

.homeIconContainer:hover .homeIcon{
  color: rgb(202, 203, 78);
}

.homeResult {
  height: 40vh;
  width: 100%;
  background-color: rgb(52, 48, 48);
}

.homeResultInner {
  margin-left: 41px;
  margin-top: 10px;
  height: 40vh;
  width: 100%;
  background-color: rgb(43, 40, 40);
}


.loginContainer {
  position: fixed;
  top: 20vh;
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-label {
  color: #ffffff;
  margin-bottom: 0.25rem;
}

.form-group {
  margin-bottom: 0.75rem;
}

.dark-form {
  border: 1px solid white;
  color: #ffffff !important;
  background-color: #202020 !important;
  transition: 0.2s;
}

.dark-form:focus {
  color: #ffffff !important;
  background-color: #0f0f0f !important;
  border: 1px solid rgb(202, 203, 78);
  box-shadow: none;
}

.dark-form.green {
  color: rgb(202, 203, 78) !important;
  border: 1px solid rgb(202, 203, 78);
}

.dark-form.green:focus {
  background-color: #1a1a1a !important;
}

.dark-form.muted {
  color: #6c757d !important;
  border: 1px solid #6c757d;
}

.dark-form.muted:focus {
  color: #ffffff !important;
  border: 1px solid rgb(202, 203, 78);
  background-color: #1a1a1a !important;
}



.toggleContainer {
  width: 100%;
  height: 50px;
  background-color: #202020;
  border-radius: 0.5em;
  cursor: pointer;
  box-shadow: inset 5px 5px 10px #1a1a1a, inset -5px -5px 10px #262626;
}

.toggleText {
  z-index: 1;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleHighlight {
  position: absolute;
  width: 190px;
  height: 40px;
  margin: 5px;
  border: 1px solid rgb(202, 203, 78);
  /*background: linear-gradient(145deg, #4a4a4a, #3e3e3e);*/
  border-radius: 0.35rem;
  transition: 0.2s;
}

.toggleHighlight.right {
  transform: translateX(200px);
}

.toggleHighlight.left {
  transform: translateX(0px);
}


.username {
  font-size: 100px;
}

.personalUsername {
  font-size: 90px;
  font-size: 7.5vw;
  max-width: 100%;
  text-overflow: ellipsis;
}

.profileButton {
  width: 15vw;
  margin-top: 10px;
  margin-left: 20px;
}

.tripleButton {
  overflow: visible;
  width: 30%;
}

.fileDisplay {
  overflow: visible;
  background-color: #202020;
  padding: 10px 20px 10px 20px;
  margin-top: 0px;
  margin-bottom: 14px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 6px 6px 12px #1b1b1b, -5px -5px 10px #252525;
  transition: 0.2s;
}

.fileDisplay:hover .fileDisplayText{
  color:rgb(202, 203, 78);
}

.fileDisplayDelete {
  display: none;
  height: 24px;
  padding: 0 0.75rem;
  font-size: .75rem;
}

.fileDisplay.owner:hover .fileDisplayLanguage {
  display: none;
}

.fileDisplay:hover .fileDisplayDelete {
  display: block;
}

.inviteDisplayDelete {
  display: none;
  height: 16px;
  padding: 0 0.5rem;
  font-size: .5rem;
}

.inviteDisplay:hover .inviteDisplayDelete {
  display: block;
}

.fileDisplay.clickable:active {
  box-shadow: inset 5px 5px 10px #1a1a1a, inset -5px -5px 10px #262626;
}

.fileDisplay.clickable:active .fileDisplayText {
  color: #ffffff;
}

.fileDisplay.clickable {
  cursor: pointer;
}


.box {
  overflow: visible;
  background-color: #202020;
  padding: 20px 30px 40px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 6px 6px 12px #1b1b1b, -5px -5px 10px #252525;
}

.box.inset {
  box-shadow: inset 5px 5px 10px #1a1a1a, inset -5px -5px 10px #262626;
}

.box.wa {
  width: auto;
}

.box.slimPadding {
  padding: 10px 15px;
}


.btn-outline-success {
  color: rgb(202, 203, 78);
  border-color: rgb(202, 203, 78);
}

.btn-outline-success:hover {
  color: black;
  background-color: rgb(202, 203, 78);
  border-color: rgb(202, 203, 78);
}

.btn-outline-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(202, 203, 78, 0.5);
}

.btn-outline-success:not(:disabled):not(.disabled):active {
  color: black;
  background-color: rgb(158, 158, 61);
  border-color: rgb(158, 158, 61);
  box-shadow: 0 0 0 0.2rem rgba(202, 203, 78, 0.5) !important;
}

.btn-outline-info {
  color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-info:hover {
  color: rgb(202, 203, 78);
  background-color: #1a1a1a;
  border-color: rgb(202, 203, 78);
}

.btn-outline-info:focus {
  box-shadow: 0 0 0 0.2rem rgba(202, 203, 78, 0.5);
}

.btn-outline-info:not(:disabled):not(.disabled):active {
  color: rgb(202, 203, 78);
  background-color: black;
  border-color: rgb(202, 203, 78);
  box-shadow: 0 0 0 0.2rem rgba(202, 203, 78, 0.5) !important;
}

.btn-outline-warning {
  color: #6c757d;
  border-color: #6c757d;
  cursor: default !important;
}

.btn-outline-warning:hover {
  background-color: #202020;
  color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-warning:focus {
  box-shadow: none;
}

.btn-outline-warning:not(:disabled):not(.disabled):active {
  background-color: #202020;
  color: #6c757d;
  border-color: #6c757d;
  box-shadow: none !important;
}

.searchIcon {
  width: 25px;
  height: 25px;
  background: url(search.svg);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.closeIcon {
  width: 25px;
  height: 25px;
  background: url(close.svg);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.fileInfoContainer {
  height: 100vh;
  width: 300px;
}

.fileAceContainer {
  height: 100vh;
  flex-grow: 1;
}

.socialInfoContainer, .editorInfoContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.headingEmoji {
  font-size: 2em;
  transition: 0.2s;
  user-select: none;
  cursor: pointer;
}

.headingEmoji.small {
  font-size: 1.3em;
}

.headingEmoji.disabled {
  opacity: 0.2;
  cursor: default;
}

.headingEmoji:hover {
  transform: scale(1.1);
}

.headingEmoji.small:hover {
  transform: scale(1.2);
}

.headingEmoji.disabled:hover {
  transform: none;
}

.headingEmoji:active {
  transform: scale(1);
}

.headingEmoji.small:active {
  transform: scale(1);
}

.header-form {
  background-color: #202020;
  color: white;
  height: auto;
  padding: 0px;
  border: 0px;
  outline: 0px;
  border-bottom: 2px solid #6c757d;
  border-radius: 0px;
  font-size: 2em;
  transition: 0.3s;
}

.header-form:focus {
  color: white;
  border: 0px;
  border-bottom: 2px solid rgb(202, 203, 78);
  background-color: #202020;
  box-shadow: none;
}

.fileNameText {
  width: 100%;
  text-overflow: ellipsis;
  border-bottom: 2px solid #6c757d;
}


.commentsViewContainer {
  flex-grow: 1;
  /*min-height: 200px;*/
  overflow: scroll;
  margin: 10px 0px;
  padding: 5px 10px;
  border: 1px solid #6c757d;
  border-radius: 0.25rem;
}

.insetBorder {
  margin: 10px 0px;
  padding: 5px 10px;
  border-radius: 0.25rem;
  box-shadow: inset 5px 5px 10px #1a1a1a, inset -5px -5px 10px #262626;
}

.dSign, .commentUserName, .commentsHeading, .invitesHeading, .descriptionHeading {
  transition: 0.2s;
}

.commentContainer:hover .commentUserName{
  color:rgb(202, 203, 78);
}

.toggleBoxContainer {
  min-height: 24px;
  cursor: pointer;
}

.toggleBoxHeading {
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.boxHeadingContainer {
  max-height: 4444444px;
}

.boxHeadingContainer.closed {
  height: 44px;
  min-height: 44px;
  max-height: 44px;
  overflow: hidden;
}

.boxHeadingContainer:hover .toggleBoxHeading {
  color: rgb(202, 203, 78) !important;
}

.boxHeadingContainer:hover .toggleBoxHeading.dSign {
  color: #ffffff !important;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid rgb(202, 203, 78);
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin .5s linear 0s infinite;
}

.smallSpinner {
  width: 10px;
  height: 10px;
  border: 3px solid rgb(202, 203, 78);
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin .5s linear 0s infinite;
}